@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face{
  font-family: "Poppins";
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.hover-border {
  padding-bottom: 10px;
  border-bottom: 3px solid transparent; /* Initial state */
  transition: border-bottom 0.5s ease-in-out; /* Smooth transition */
}

.hover-border:hover {
  
  border-bottom-color: #991b1b; /* Changes on hover */
}

.button-contactme{
  background-color: #bb6868;
  color:white;
}

.button-contactme:hover{
  background-color: #991b1b;
  color:white;
  transition: background-color 0.4s ease-in,color 0.4s ease-in;
}
